.cart {
    width: 100%;
}
.login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
.button{
    display: flex;
    justify-content:center;
    background: #ccc;
}
.form {
    width: 450px;
}
